<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSCalendarsUsageDescription</key>
	<string>Show upcoming events</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Show per day view of health metrics</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Show per day view of health metrics</string>
</dict>
</plist>
